@import "tailwindcss";
.active{
    background-color: rgb(184, 255, 194);
    border-color: rgb(129, 251, 99);

}
select,input,textarea{
    border: 1px solid rgb(229, 211, 211);
    outline-color: #c586A5;
    border-radius: 4px;
}